@import '~carbon-components/scss/globals/scss/colors';
@import '~carbon-components/scss/globals/scss/layout';
@import '~carbon-components/scss/globals/scss/spacing';

@import './components/Avatar/Avatar';
@import './components/Notifications/NotificationContainer';
@import './components/CharacterTile/CharacterTile';
@import './components/DataTable/DataTable';
@import './components/OverflowMultiselect/OverflowMultiselect';

@import './pages/Login/Login';
@import './pages/Characters/Characters';
@import './pages/Register/Register';
@import './pages/ApiLogs/ApiLogs';
@import './pages/Wallet/Wallet';

.secondary-text {
  color: $text-02;
}

.bx--form-item {
  margin-top: $spacing-04;
}

.page-container {
  margin-top: $layout-05;
  margin-bottom: $layout-05;
  padding-left: $layout-02;
  padding-right: $layout-02;
}
