name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:    
    - uses: actions/checkout@v2
    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v1.1.0
    - name: Install dependencies
      run: yarn
    - name: Build
      run: yarn build
    - name: Test
      run: yarn coveralls
